<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://sinvalgomes132021.documents.azure.com:443/" />
        <add key="accountKey" value="ceARMisILizv4FUTyoHY4C0J0g82G9ogEvcxL7Byp0ciHGkY11t3xYqqmaEpvV4fUdgv0sDy0r7gH6vo039lVg==" />
      </appSettings>
</configuration>